<script>
    
    $(function(){
        $("#btnNew").button({
            label: "Novo",
            icons: {
                primary: "newIcon"
            }
        
        }).click(function(){
            location.href = '/pacientes/new';
        });
        
        $("#btnEdit").button({
            label: "Editar",
            icons: {
                primary: "editIcon"
            }
        
        }).click(function(){
            var id = jQuery("#lstpacientes").getGridParam('selrow');
            if (id != null) {
                location.href = '/pacientes/' + id + '/edit';
            }
            else {
                alert("Selecione um registro");
            }
        });
        
        $("#btnDel").button({
            label: "Remover",
            icons: {
                primary: "deleteIcon"
            }
        
        }).click(function(){
			var id = jQuery("#lstpacientes").getGridParam('selrow');
            if (id != null) {
                if (confirm('Confirma a exclusão?')) {                    
                    $.destroy({
                        url: '/pacientes/' + id,
                        beforeSend: function(xhr){
                            // do something unusual
                        }
                        
                    });
                    location.href = '/pacientes';
                }
            } else {
				alert("Selecione um registro");
			}
        });
        
    })
</script>
<h1>Lista de pacientes</h1>
<div class="fg-toolbar ui-widget-header ui-corner-all ui-helper-clearfix">
    <button id="btnNew" hint="Novo" title="Novo" class="fg-button ui-state-default ui-corner-left">
    </button>
    <button id="btnEdit" hint="Editar" class="btnToolBar" title="Editar" class="fg-button ui-state-default ui-corner-left">
    </button>
    <button id="btnDel" hint="Remover" class="btnToolBar" title="Excluir" class="fg-button ui-state-default ui-corner-left">
    </button>
</div>

<%= jqgrid("", "lstpacientes", "/pacientes",
[
{ :field => "id", :label => "ID", :width => 35, :resizable => false },
{ :field => "pac_nome", :label => "Paciente", :width => 350 },
{ :field => "pac_fone", :label => "Fone" },
{ :field => "pac_celular", :label => "Celular" }
],
{:height => 300}
) %>
