/* CSS Document */
body {
    font-family: Verdana;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    background-color: #FFFFFF;
    color: #222;
}

.container {
    width: 841px;
    height: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-color: #A6BA9A;
    border-width: 1px;
    border-style: solid;
}

.conteudo {
    width: 841px;
    margin: 0px;
    padding: 0px;
    border-bottom: solid #8B9C81 1px;
}

.esquerda {
    width: 195px;
    height: 467px;
    float: left;
    border-right: solid #8B9C81 1px;
}

.leftnav {
    width: 195px;
    float: left;
    border-right-color: #8B9C81;
    border-right-width: 0px;
    margin: 0px;
}

.leftnav a {
    text-align: left;
    padding-left: 10px;
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #8B9C81;
    font-weight: bold;
    background-color: #E1E1E1;
    display: block;
    border-color: #8B9C81;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
}

.leftnav a:hover {
    background-color: #EAEAEA;
    padding-left: 15px;
    color: #222;
}
#ad1 {
    width: 195px;
    padding-top: 10px;
    border-top: solid #8B9C81 1px;
    margin: 0px;
    clear: both;
}
#ad1 p {
    padding-left: 17.5px;
    padding-bottom: 10px;
}

.direita {
    width: 644px;
    float: left;
    border-top: solid #8B9C81 1px;
    border-bottom: none #8B9C81 1px;
}

#topnav {
    width: 645px;
    padding: 5px 0;
    background-color: #EAEAEA;
    font-size: 75%;
}

#topnav a {
    font: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: #222;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

.join {
    width: 644px;
    float: left;
    padding-top: 10px;
    margin-bottom: 6px;
}

.jointext {
    padding-left: 10px;
    text-align: left;
    margin: 0px;
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #222;
    width: 550px;
}

.joinimg {
    width: 41px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding: 0px;
    float: left;
}

.joinhead {
    width: 500px;
    float: left;
    margin: 0px;
    border-right: none #8B9C81 1px;
}

.joinhead a {
    margin-right: 30px;
    font-size: 12px;
    color: #222;
    text-decoration: none;
}

.joinhead a:hover {
    font-weight: bold;
    border-bottom: solid #8B9C81 1px;
}

.joinhead h1 {
    padding: 5px;
    font: Arial, Verdana, Helvetica;
    line-height: 30px;
    font-size: 17px;
    color: #8B9C81;
    margin: 0px;
}

.joinhead h2 {
    padding: 5px;
    font: Arial, Verdana, Helvetica;
    line-height: 30px;
    font-size: 14px;
    color: #8B9C81;
    margin: 0px;
}

#news {
    width: 290px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    height: 200px;
}

#newsimg {
    width: 41px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#newshead {
    width: 235px;
    float: left;
    margin: 0px;
    border: none #8B9C81 1px;
}

#newstext {
    padding-left: 20px;
    text-align: left;
    margin: 0px;
    float: left;
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #222;
    width: 240px;
}

#newshead h1 {
    padding: 5px;
    line-height: 30px;
    font: Arial, Verdana, Helvetica;
    font-size: 17px;
    color: #8B9C81;
    margin: 0px;
}

#software {
    width: 335px;
    float: left;
    margin: 0px;
    border-top: solid #8B9C81 1px;
}

#software h1 {
    padding-left: 15px;
    font: Arial, Verdana, Helvetica;
    font-size: 17px;
    color: #8B9C81;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

#software h2 {
    margin: 0px;
    font: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #222;
    font-size: 13px;
    padding-left: 12px;
}

#software p {
    font: Verdana;
    font-size: 10px;
    color: #000000;
    padding-left: 12px;
    padding-right: 25px;
    margin-bottom: 18px;
    margin-top: 0px;
}

.busca{
	width: 400px;
	border-bottom: solid #8B9C81 2px;
	margin-left: 5px;
}

.login {
    width: auto;
	height: auto;
    float: left;
    padding-right: 1px;
    padding-top: 7px;
	padding-bottom: 10px;
    margin-bottom: 5px;
    border: solid #8B9C81 1px;
    background-color: #C1CEBA
}

.acoes{
	width: 500px;
	float: left;
    position: relative;
    padding-right: 1px;
    padding-top: 7px;
	padding-bottom: 10px;
    margin-bottom: 5px;
}

.button {
    width: 66px;
    height: 24px;
    border-bottom: 1px solid #8B9C81;
    background-color: #FFFFFF
}

#userpass {
    margin-left: 35px;
    border: solid #8B9C81 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#loginbox {
    width: 281px;
    float: right;
    background-image: url(../images/loginbg.gif);
}

#loginbox h1 {
    font: Arial, Verdana;
    font-size: 18px;
    color: #8B9C81;
    padding: 5px;
    padding-left: 8px;
    margin: 0px;
    background-image: url(../images/logintop.gif);
    background-position: top;
    background-repeat: no-repeat;
}

#loginbox p {
    padding-left: 10px;
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0px;
    padding-right: 5px;
    background-image: url(../images/loginbottom.gif);
    background-position: bottom;
    background-repeat: no-repeat;
}

.footer {
    width: 841px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    margin-right: 30px;
    font-size: 12px;
    color: #222;
    text-decoration: none;
}

.footer a:hover {
    font-weight: bold;
    border-bottom: solid #8B9C81 1px;
}

.footer p {
    width: 841px;
    text-align: center;
}

.clearall {
    clear: both;
}

.linkNovo{
	font-weight: bold;
	padding-left: 5px;
}

.linkVoltar{
	font-weight: bold;
	padding-left: 5px;
}

.odontograma{
	width:25px; 
	height:25px; 
	z-index:7;  
	overflow: visible;
	position: absolute;
	top:222px;
}
