<script>
    $(function(){
        $("#btnback").button({
            label: "Voltar",
            icons: {
                primary: "backIcon"
            }
        
        }).click(function(){
            location.href = '/dentistas';
        });
        
        $("#btnsave").button({
            label: "Salvar",
            icons: {
                primary: "saveIcon"
            }
        
        }).click(function(){
            $("form#new_dentista").submit();
        });
    })
</script>
<h1>Novo dentista</h1>
<div id="dentistas">
    <p>
        <div class="fg-toolbar ui-widget-header ui-corner-all ui-helper-clearfix">
            <button id="btnsave" hint="Salvar" title="Salvar" class="fg-button ui-state-default ui-corner-left">
            </button>
            <button id="btnback" hint="Voltar" title="Voltar" class="fg-button ui-state-default ui-corner-left">
            </button>
        </div>
        <% form_for(@dentista) do |f| %>
        <%= f.error_messages %>
        <!-- %= f.submit 'Salvar', :class=>"button"  , :live_validations => true%-->
        <br>
        <div class="dadosdentista">
            <p>
                <label>
                    Nome 
                </label>
                <%= f.text_field :den_nome, :style => "width: 425px" %>
            </p>
        </div>
        <% end %>
    </p>
</div>
